.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }

  .card:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.726);
  }

  .button {
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  .card:hover .button {
    opacity: 1;
  }
  
  .card-signin {
    align-items: center;
    place-content: center;
  }

  p.title{
    text-transform: uppercase;
    color: white;
  }